body {
    margin: 0;
    padding: 0;
    
}
form {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}
h1 {
    border: 1px rgb(247, 245, 245);
    background: rgb(247, 245, 245);
    font-size: 25px;
    padding: 10px;
}
.alert {
    margin-bottom: 20px;
}

input, select, textarea {
    border: 1px solid lightgray; 
    border-radius: 3px;
    width: 100%; 
}

.message {
    width: 100%; 
}

.btn-group {
    margin-top: 10px;
}
/* .firts-line {
    margin-top: none;
    padding: none;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.card {
    width: 400px;
    margin-left: 15px;
}
.number-card {
    margin-left: 15px;
}
.cvc {
    width: 250px;
    margin-left: 15px;
}
.amount {
    width: 350px;
    margin-left: 15px;
}
.second-line {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.second-line label {
    margin-left: 0px;
}
.second-line input {
    width: 500px;
    margin-right: 15px;
    margin-left: 0px;
}
.third-line {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.city-state-zip-container {
    margin-top: none;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
  }
.city {
    width: 500px;
}
.State {
    margin-left: 55px;
}
.postal-code {
    width: 220px;
}
.fourth-line {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-bottom: 30px;
}
.Payment {
    padding-top: 10px;
    width: 488px;
}
.btn-group { 
    margin-top: 10px;
    margin: none;
    padding: none;
}
.btn-group .fab {
    padding-left: none;
    margin: none;
}
.form-control {
    width: 250px;
    padding-left: none;
    margin: none;
    margin-right: 30px;
    margin-left: 55px;
    line-height: 1;
}
.message label {
    padding-left: none;
    margin: none;
    margin-right: 30px;
    margin-left: 27px;
}
.message {
    width: 500px;
    padding-top: 10px;
    padding-left: none;
    margin: none;
    margin-right: 30px;
    margin-left: 27px;
}
.message textarea {
    border: 1px solid lightgray;
}
.text-muted {
    margin-left: 30px;
}
.fith-line .buttons {
    border: 1px solid lightgray;
    background: rgb(247, 245, 245);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.buttons {
    margin-top: 10px;
} */